# ===============================
# DATASETS (NEVER UPLOAD)
# ===============================
Dataset/
dataset/
data/
*.csv
*.zip
*.tif
*.TIF
*.hdf5
*.npy

# ===============================
# NOTEBOOK CACHE
# ===============================
.ipynb_checkpoints/
__pycache__/
*.pyc

# ===============================
# LATEX / BUILD FILES
# ===============================
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz

# ===============================
# SYSTEM
# ===============================
.DS_Store
Thumbs.db
