# ===============================
# DATASET (DO NOT UPLOAD)
# ===============================
Dataset/
*.tif
*.TIF
*.zip
*.tar
*.gz
*.hdf5
*.csv
*.pdf

# ===============================
# PYTHON / NOTEBOOK CACHE
# ===============================
__pycache__/
*.pyc
.ipynb_checkpoints/

# ===============================
# TEMP / SYSTEM
# ===============================
.temp/
__temp__/
.DS_Store
Thumbs.db

# ===============================
# ENV
# ===============================
.env
venv/
